.smartphone-img {
  background: url(../assets/icons/ilustration.svg) top/cover;
  margin-top: 2.21rem;
}

section {
  & header {
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff);
      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: var(--brand-color-primary);
    }

    & h2 {
      /* font-weight: 900; */
      margin-top: .5rem;
    }
  }

  & p {
    margin-top: .5rem;
    color: var(--text-color-secondary);
  }
}

@media (width >= 80rem) {
  #smartphone-img-mob {
    display: none;
  }
}